@import '../../main.less';

.dynamic-container{
    .ct;
    margin-top: 20px;
    .dynamicClassify{
        ul{
            padding-left: 15px;
            background: @colorF;
            border-bottom: 1px solid #ddd;
            .list;
            justify-content: flex-start;
            margin-top: 8px;
            margin-bottom: 0;
            li{
                padding: 0 10px;
                height: 42px;
                line-height: 42px;
                position: relative;
                a{
                    color: #666;
                }
                a.active{
                    color: @primary;
                    text-decoration: none;
                }
                &::after{
                    position: absolute;
                    top: 13px;
                    right: 1px;
                    display: inline-block;
                    content: "";
                    width: 1px;
                    height: 16px;
                    background-color: #ebebeb;
                }
                &:last-child::after{
                    display: none;
                }
            }
        }
    }
    .ant-list{
        background: @colorF;
        padding: 10px;
        .ant-list-item-action{
            .list;
            li{
                flex: 1 1 33.333%;
            }
        }
    }
}

.dynamicSide{
    .card1{
        .ant-card-body{
            padding: 0;
            .ant-card-meta{
                padding: 15px;
                border-bottom: 1px solid rgba(92,96,102,.1);
                display: block;
            }
            ul{
                .list;
                padding-top: 15px;
                li{
                    flex: 1;
                    text-align: center;
                    p{
                        margin: 0;
                    }
                }
                .liTitle{
                    font-size: 13px;
                    color: #8a9aa9;
                    margin-bottom: 5px;
                }
                .liNum{
                    font-size: 15px;
                    font-weight: 600;
                    color: #2e3135;
                }
            }
        }
    }
    .card2{
        .ant-card-body{
            padding: 1px 0;
        }
        .ant-list,.ant-list-item{
            padding: 10px 0;
            cursor: pointer;
        }
        .ant-list-item-meta-avatar{
            margin: 0 8px;
        }
        .ant-btn{
            width: 55px;
            box-sizing: border-box;
            padding: 0;
            color: #6cbd45;
            background-color: #fff;
            border: 1px solid #6cbd45;
            border-radius: 2px;
            margin-left: 5px;
        }
        .ant-list-item-action{
            margin: 0;
        }
        .ant-list-item-meta-title{
            width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .user-recommend-footer{
            padding: 10px 0;
            text-align: center;
            border-top: 1px solid hsla(0,0%,59.2%,.1);
            font-size: 16px;
            color: #007fff;
            user-select: none;
            cursor: pointer;
        }
    }
}